@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Montserrat:wght@700&display=swap");

$font-title: "Montserrat", sans-serif;
$font-text: "Poppins", sans-serif;
$navbar-height: 50px;
$sidebar-width: 350px;

$primary: #2e48c9;
$secondary: #963eef;

$dark-grey: #363636;
$light-grey: #e7e8ec;

$black: #000000;
$white: #ffffff;
$dark-white: #f8f9fd;

$danger-background: #fff0f0;
$danger-border: #f98a89;

$google-blue: #4285f4;
$github-black: #24292f;
